<div class="canvas-container" cdkDropListGroup>
  <!-- 面包屑 -->
  <nz-breadcrumb class="canvas-breadcrumb">
    <nz-breadcrumb-item *ngFor="let crumb of $breadcrumb(); let i = index; let last = last">
      <a *ngIf="!last" (click)="navigateCrumb(i)">{{ crumb.label }}</a>
      <span *ngIf="last">{{ crumb.label }}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <!-- 主体 -->
  <div class="canvas-body">
    <ng-container *ngIf="$currentMenu().length === 0; else rowsTpl">
      <nz-empty
        class="canvas-empty"
        [nzNotFoundContent]="emptyTpl"
        cdkDropList
        [cdkDropListData]="null"
        [id]="newRowListId"
        (cdkDropListDropped)="onDropToNewRow($event)"
      ></nz-empty>
      <ng-template #emptyTpl>
        <span class="canvas-empty-text">从左侧拖入组件开始设计菜单</span>
      </ng-template>
    </ng-container>

    <ng-template #rowsTpl>
      <div class="canvas-rows">
        <div
          class="canvas-row"
          *ngFor="let row of $currentMenu(); let rowIdx = index; trackBy: trackByRowId"
          cdkDropList
          [id]="rowListId(rowIdx)"
          [cdkDropListData]="row.buttons"
          (cdkDropListDropped)="onDropToRow($event, rowIdx)"
        >
          <div class="canvas-row-label" aria-hidden="true">#{{ rowIdx + 1 }}</div>
          <div class="canvas-row-buttons">
            <div
              *ngFor="let btn of row.buttons; trackBy: trackByButtonId"
              class="canvas-button-card"
              [class.is-selected]="$selectedId() === btn.id"
              [class.is-submenu]="btn.action === 'submenu'"
              role="button"
              tabindex="0"
              [attr.aria-label]="btn.text"
              (click)="selectButton(btn.id)"
              (dblclick)="enterButtonSubmenu(btn)"
            >
              <span
                nz-icon
                [nzType]="actionIconMap[btn.action]"
                nzTheme="outline"
                class="canvas-button-icon"
                aria-hidden="true"
              ></span>
              <span class="canvas-button-text">{{ btn.text || actionTitleMap[btn.action] }}</span>

              <span
                *ngIf="btn.action === 'submenu'"
                class="canvas-button-submenu-hint"
                nz-tooltip
                nzTooltipTitle="双击进入子菜单"
                aria-hidden="true"
              >
                <span nz-icon nzType="right" nzTheme="outline"></span>
              </span>

              <button
                type="button"
                class="canvas-button-remove"
                nz-button
                nzType="text"
                nzSize="small"
                nz-popconfirm
                nzPopconfirmTitle="确定删除该按钮？"
                nzOkText="删除"
                nzCancelText="取消"
                (nzOnConfirm)="removeButton(btn.id)"
                (click)="$event.stopPropagation()"
                aria-label="删除按钮"
              >
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </button>
            </div>
          </div>
        </div>

        <!-- 新行落点：空占位行 -->
        <div
          class="canvas-new-row"
          [class.is-disabled]="!$canAddRow()"
          cdkDropList
          [id]="newRowListId"
          [cdkDropListData]="null"
          (cdkDropListDropped)="onDropToNewRow($event)"
        >
          <button
            type="button"
            nz-button
            nzType="dashed"
            nzBlock
            [disabled]="!$canAddRow()"
            (click)="addEmptyRow()"
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            <span>新增一行</span>
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
