<nz-card [nzBodyStyle]="{ padding: 0 }">
  <nz-tabs nzCentered [nzTabBarStyle]="{ paddingLeft: '15px', paddingRight: '15px' }">
    <nz-tab nzTitle="通知(4)">
      <ng-container *ngTemplateOutlet="notificationTpl"></ng-container>
    </nz-tab>
    <nz-tab nzTitle="消息(3)">
      <ng-container *ngTemplateOutlet="notificationTpl"></ng-container>
    </nz-tab>
    <nz-tab nzTitle="待办(4)">
      <ng-container *ngTemplateOutlet="notificationTpl"></ng-container>
    </nz-tab>
  </nz-tabs>
</nz-card>
<ng-template #notificationTpl>
  <nz-list nzItemLayout="horizontal">
<!--    @for (i of 4 | numberLoop; track $index) {
      <nz-list-item>

      </nz-list-item>
    }-->
    <!--  <nz-list-empty *ngIf="deptNoticeListObj.checkRecordDtos.length === 0"></nz-list-empty>-->
    <nz-list-footer>
      <div class="center operate-text full-with full-height">清空通知</div>
    </nz-list-footer>
  </nz-list>
</ng-template>
