<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card class="m-b-10" [nzBodyStyle]="{ 'padding-bottom': 0 }">
    <form nz-form>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div nz-col [nzLg]="8" [nzSm]="12" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>订单号</nz-form-label>
            <nz-form-control>
              <input name="orderNo" nz-input placeholder="订单号" [(ngModel)]="searchParam.orderNo" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzLg]="8" [nzSm]="12" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>状态</nz-form-label>
            <nz-form-control>
              <nz-select name="status" nzAllowClear nzPlaceHolder="请选择状态" [(ngModel)]="searchParam.status">
                @for (item of statusOptions; track item.value) {
                  <nz-option [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzLg]="8" [nzSm]="12" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>接收地址</nz-form-label>
            <nz-form-control>
              <input name="receiverAddress" nz-input placeholder="接收地址" [(ngModel)]="searchParam.receiverAddress" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="text-right p-0 m-b-10" nz-col [nzSpan]="24">
          <button nz-button nzType="primary" (click)="getDataList({ pageIndex: 1 })">
            <i nz-icon nzType="search"></i>
            查询
          </button>
          <button class="m-l-15" nz-button (click)="resetForm()">
            <i nz-icon nzTheme="outline" nzType="close-circle"></i>
            重置
          </button>
        </div>
      </div>
    </form>
  </nz-card>

  <app-card-table-wrap [tableTitle]="'订单列表'" (reload)="reloadTable()">
    <app-ant-table [tableConfig]="tableConfig()" [tableData]="dataList()" (changePageIndex)="getDataList($event)" (changePageSize)="changePageSize($event)"></app-ant-table>
    <ng-template #statusTpl let-status="status">
      <nz-tag [nzColor]="statusColor(status)">{{ statusText(status) }}</nz-tag>
    </ng-template>
    <ng-template #returnStatusTpl let-returnStatus="returnStatus">
      <nz-tag [nzColor]="returnStatusColor(returnStatus)">{{ returnStatusText(returnStatus) }}</nz-tag>
    </ng-template>
    <ng-template #trxTpl let-paymentAmountSun="paymentAmountSun">
      {{ sunToTrx(paymentAmountSun) }}
    </ng-template>
    <ng-template #providerTpl let-energyProvider="energyProvider">
      <nz-tag [nzColor]="providerColor(energyProvider)">{{ providerText(energyProvider) }}</nz-tag>
    </ng-template>
    <ng-template #providerEnvTpl let-externalProviderEnvironment="externalProviderEnvironment">
      {{ providerEnvironmentText(externalProviderEnvironment) }}
    </ng-template>
    <ng-template #providerCostTpl let-providerCostSun="providerCostSun">
      {{ providerCostSun ? sunToTrx(providerCostSun) : '-' }}
    </ng-template>
    <ng-template #externalStatusTpl let-externalStatus="externalStatus">
      {{ externalStatusText(externalStatus) }}
    </ng-template>
    <ng-template #externalConfirmStatusTpl let-externalConfirmStatus="externalConfirmStatus">
      {{ externalStatusText(externalConfirmStatus) }}
    </ng-template>
  </app-card-table-wrap>
</div>
