<div class="palette-container">
  <div class="palette-header">
    <span nz-icon nzType="appstore" nzTheme="outline"></span>
    <span>组件库</span>
  </div>
  <div
    class="palette-list"
    role="list"
    cdkDropList
    id="palette-source"
    [cdkDropListData]="paletteItems"
    [cdkDropListSortingDisabled]="true"
    cdkDropListConnectedTo="[]"
  >
    <div
      *ngFor="let item of paletteItems; trackBy: trackByAction"
      class="palette-card"
      role="button"
      tabindex="0"
      [attr.aria-label]="item.title + '：' + item.description"
      [cdkDragData]="item"
      cdkDrag
      cdkDragPreviewClass="palette-card-preview"
      nz-tooltip
      [nzTooltipTitle]="item.description"
      nzTooltipPlacement="right"
    >
      <ng-container *cdkDragPlaceholder></ng-container>
      <span nz-icon [nzType]="item.icon" nzTheme="outline" class="palette-icon" aria-hidden="true"></span>
      <div class="palette-text">
        <div class="palette-title">{{ item.title }}</div>
        <div class="palette-desc">{{ item.description }}</div>
      </div>
    </div>
  </div>
</div>
