<form nz-form [formGroup]="addEditForm">
  <nz-form-item>
    <nz-form-label nzFor="name" nzRequired [nzSm]="5" [nzXs]="24">客户名称</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="17" [nzXs]="24">
      <input id="name" formControlName="name" nz-input placeholder="如：张三公司 / 某某工作室" maxlength="120" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="contact" [nzSm]="5" [nzXs]="24">联系方式</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="17" [nzXs]="24">
      <input id="contact" formControlName="contact" nz-input placeholder="Telegram / 邮箱 / 电话等自由文本" maxlength="255" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="remark" [nzSm]="5" [nzXs]="24">备注</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="17" [nzXs]="24">
      <textarea id="remark" formControlName="remark" nz-input rows="3" placeholder="合同号、销售、计费约定等" maxlength="2000"></textarea>
    </nz-form-control>
  </nz-form-item>

  @if (isEdit) {
    <nz-form-item>
      <nz-form-label nzFor="status" nzRequired [nzSm]="5" [nzXs]="24">账户状态</nz-form-label>
      <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="17" [nzXs]="24">
        <nz-radio-group formControlName="status">
          <label nz-radio nzValue="active">正常</label>
          <label nz-radio nzValue="suspended">暂停</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
  } @else {
    <nz-form-item>
      <nz-form-label [nzSm]="5" [nzXs]="24">开通登录</nz-form-label>
      <nz-form-control [nzSm]="17" [nzXs]="24" nzExtra="勾选后会为该客户创建登录账号，客户登录后可在「我的 License」查看自己的 key 和安装命令">
        <label nz-checkbox formControlName="createLogin">为该客户同步创建登录账号</label>
      </nz-form-control>
    </nz-form-item>

    @if (addEditForm.get('createLogin')?.value) {
      <nz-form-item>
        <nz-form-label nzFor="loginUserName" nzRequired [nzSm]="5" [nzXs]="24">登录用户名</nz-form-label>
        <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="17" [nzXs]="24">
          <input id="loginUserName" formControlName="loginUserName" nz-input placeholder="3-64 字符，客户登录用" maxlength="64" autocomplete="off" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="loginPassword" nzRequired [nzSm]="5" [nzXs]="24">登录密码</nz-form-label>
        <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="17" [nzXs]="24" nzExtra="最少 6 字符；请线下安全告知客户">
          <input id="loginPassword" type="text" formControlName="loginPassword" nz-input placeholder="明文显示以便抄录" maxlength="64" autocomplete="new-password" />
        </nz-form-control>
      </nz-form-item>
    }
  }
</form>

<ng-template #combineTpl let-control>
  @if (control.hasError('required')) {
    必填项
  }
  @if (control.hasError('minlength')) {
    至少 {{ control.errors.minlength.requiredLength }} 个字符
  }
  @if (control.hasError('maxlength')) {
    最多 {{ control.errors.maxlength.requiredLength }} 个字符
  }
</ng-template>
