<div class="register-form-wrap">
  <h3 class="title">注册</h3>
  <form class="login-form" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="请输入登录账号">
        <input type="text" formControlName="userName" nz-input nzSize="large" placeholder="登录账号" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="请输入用户名称">
        <input type="text" formControlName="agentName" nz-input nzSize="large" placeholder="用户名称" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input type="text" formControlName="email" nz-input nzSize="large" placeholder="邮箱（可选）" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input type="text" formControlName="mobile" nz-input nzSize="large" placeholder="手机号（可选）" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="请输入至少6位密码">
        <input type="password" formControlName="password" nz-input nzSize="large" placeholder="至少6位密码，区分大小写" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="请确认密码">
        <input type="password" formControlName="confirmPassword" nz-input nzSize="large" placeholder="确认密码" />
      </nz-form-control>
    </nz-form-item>

    <div class="login-form-margin" nz-row nzAlign="middle" nzJustify="space-between">
      <div nz-col [nzSpan]="12">
        <button class="login-form-button login-form-margin" nz-button nzSize="large" nzType="primary" [nzLoading]="submitting()">注 册</button>
      </div>
      <div class="text-right" nz-col [nzSpan]="9">
        <a class="password-login" routerLink="/login/login-form">使用已有帐号登陆</a>
      </div>
    </div>
  </form>
</div>
